<ul class="tab-set">
    <li *ngFor="let tab of tabs; let index = index" 
        [class.active]="isActiveTab(index)"
        [ngSwitch]="isActiveTab(index)">
        <span *ngSwitchCase="true">
            <img class="icon" [src]="tab.activeIconUrl || tab.iconUrl"> {{tab.title}}
        </span>
        <a *ngSwitchDefault (click)="setActiveTab(index)" role="button">
            <img class="icon" [src]="tab.iconUrl"> {{tab.title}}
        </a>
    </li>
</ul>
<ng-content></ng-content>