.container {
    @media (min-width: $screen-sm) {
        width: 1100px;
    }
    @media (min-width: $screen-md) {
        width: 1100px;
    }
    @media (min-width: $screen-lg) {
        width: 1280px;
    }
}