.icon-group {
    position: relative;
    .icon {
        position: absolute;
        top: 3px;
        right: 12px;
        font-size: 18px;
    }
    .icon-sm {
        position: absolute;
        top: -3px;
        right: 20px;
        font-size: 18px;
    }
}