.navbar-tall {
    min-height: 60px;
    .navbar-brand {
        line-height: 30px;
        height: 60px;
    }
    .navbar-nav > li {
        > a {
            line-height: 30px;
        }
    }
}

.navbar {
    background-color: #fff;
    border: none;
    border-radius: 0;
    .navbar-brand {
        font-weight: 900;
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-right: 20px;
    }
    .navbar-nav {
        > li {
            &.active {
                a {
                    color: $gray-light-alt;
                    background-color: #f9f8f8;
                    border-bottom: 2px solid $care-primary;
                }
            }
            a:active, a:focus {
                background-color: inherit;
            }
            a.dropdown-toggle {
                font-weight: 400;
                font-size: 13px;
            }
        }
    }
    .navbar-menu {
        > li {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.3pt;
            a {
                font-weight: 800;
            }
        }
    }
    .navbar-icons {
        @media (min-width: $screen-lg) {
            margin-left: 90px;
        }
        padding-left: 10px;
        padding-right: 10px;
        > li > a {
            padding-left: 7px;
            padding-right: 7px;
            @media (min-width: $screen-lg) {
                padding-left: 10px;
                padding-right: 10px;
            }
            &:hover {
                background-color: inherit !important;
            }
        }
    }
    .navbar-hover {
        > li:not(.active) {
            @media (min-width: $screen-sm) {
                > a:hover {
                    background-color: #f9f8f8;
                    padding-bottom: 17px;
                    margin-bottom: -2px;
                }
            }
        }
    }
}