.option-group {
    display: table;
    width: 100%;
    .option {
        display: table-cell;
        .badge, a {
            font-size: 13px;
            font-weight: 400;
            padding: 3px 9px;
            margin-left: 4px;
            margin-right: 4px;
            white-space: nowrap;
        }
    }
}