$divider-color: #efefef;

.page-heading {
    border-bottom: 2px solid $divider-color;
    margin-bottom: 30px;
    padding-bottom: 20px;
    .form-control {
        display: inline-block; 
        width: auto;
    }
}
.sidebar-right {
    left: 20px;
    top: -1px;
    background: white;
    box-shadow: -25px 10px 60px -45px rgba(0,0,0,0.2);
    padding-left: 0;
    padding-right: 0;
    .sidebar-heading {
        position: relative;
        top: -3px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 26px;
        border-bottom: 1px solid $divider-color;
    }
    .sidebar-section {
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $divider-color;
        label {
            color: #999;
            font-size: 12px;
            font-weight: 400;
        }
    }
}