.alert-group {
    max-height: 70vh;
    overflow: auto;
    .alert-item {
        padding: 0;
        .icon {
            position: absolute;
            top: 0;
            left: 0;

            width: 55px;
            height: 100%;
            text-align: center;
            
            border-right: 1px solid #efe5ea;

            i {
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                font-size: 22px;
                color: $gray-light;
            }
        }
        .content {
            margin-left: 70px;
            margin-right: 100px;
            height: 60px;
            
            .message {
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .action {
            position: absolute;
            top: 0;
            right: 0;

            width: 100px;
            height: 100%;
            text-align: center;

            .btn {
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 8px;
                padding-right: 8px;

                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}