ng2-datetime-picker {
    .ng2-datetime-picker {
        .month {
            line-height: 30px;
        }
        .days {
            width: 235px;
        }
    }
}
.datepicker-right {
    ng2-datetime-picker {
        left: inherit !important;
        right: 0  !important;
    }
}