.dropdown {
    position: relative;
    >.dropdown-toggle {
        width: 100%;
        display: inline-block;
        padding-right: 25px;
        &:hover {
            text-decoration: none;
        }
        >.icon {
            position: absolute;
            top: 11px;
            right: 12px;
            font-size: 11px;  
        }
    }
    &.open {
        .dropdown-toggle {
            box-shadow: none;
        }
    }
    &.form-control {
        .dropdown-menu {
            width: 100%;
        }
    }
}