livefeed {
    font-size: 12.5px;
    .list-group {
        max-height: 70vh;
        overflow: auto;
        .icon {
            position: absolute;
            top: 0;
            left: 0;

            width: 30px;
            height: 100%;
            text-align: center;

            img {
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                margin-left: 10px;
            }
        }
        .content {
            margin-left: 30px;
            height: 50px;

            .text {
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}