.progress-indicator {
    .spinner {
        text-align: center;
        margin-top: 20px;
    }
}
.progress-indicator-container {
    position: relative;
    .progress-indicator {
        position: absolute;
        top: 0;
        height: 100%;
        background: rgba(249, 248, 248, 0.83);
        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
}