@import "~nouislider/distribute/nouislider.min.css";

.slider {
    .noUi-horizontal {
        height: 6px;
        .noUi-connect {
            background: $brand-primary;
            transition: none;
        }
        .noUi-handle {
            background: $brand-primary;
            border: 2px solid #fff;
            box-shadow: 1px 1px 1px 1px darkgrey;
            border-radius: 100%;
            top: -9px !important;
            left: -11px !important;
            width: 20px !important;
            height: 20px !important;
            &:before,
            &:after {
                content: none;
            }
        }
    }
}