<div class="option-group">
    <span class="option" *ngFor="let option of options" [ngSwitch]="option === selected">
        <span *ngSwitchCase="true" class="badge badge-dark">{{ option.text }}</span>
        <span *ngSwitchDefault class="option"><a role="button" (click)="selected = option; selectedChange.emit(option)">{{ option.text }}</a></span>
    </span>
</div>