
<div class="container container-w">
    <div class="row">
        <ng-container *ngFor="let kpi of kpisLarge; let index = index">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="panel dashboard-panel large-panel">
                    <div class="panel-heading">{{ kpi.title }}</div>
                    <div class="panel-body">
                        <ng-container *ngIf="!isLoading">
                            <div class="number pull-left">{{ getKpiTotal(kpi.data, getChartInterval(index)) | money }}</div>
                            <div>
                                <dropdown [options]="intervalOptions" [selected]="getChartInterval(index)" (selectedChange)="setChartInterval(index, $event)"></dropdown>
                            </div>
                            <kpi-simple-data *ngIf="kpi.subdata" cssClass="caption text-muted" [data]="kpi.subdata"></kpi-simple-data>
                            <kpi-chart *ngIf="!isLoading"
                                [label1]="kpi.data.label1"
                                [label2]="kpi.data.label2"
                                [data]="getKpiData(kpi.data, getChartInterval(index))"
                                [color1]="chartColors[index].color1"
                                [color2]="chartColors[index].color2"
                                [labelFormat]="getChartLabelFormat(getChartInterval(index))"
                                [showTotalLine]="index === 3"
                            ></kpi-chart>
                        </ng-container>
                        <progress-indicator *ngIf="isLoading"></progress-indicator>
                    </div>
                </div>
            </div>
        </ng-container>
    
        <div class="col-sm-12"><h1>Key performance status</h1></div>
    
        <ng-container *ngFor="let kpi of kpis">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="panel dashboard-panel" [class.triple-line-panel]="kpi.subdata2">
                    <div class="panel-heading" [ngSwitch]="kpi.status">
                        <div *ngSwitchCase="'danger'" class="label label-primary">{{ kpi.title }}</div>
                        <div *ngSwitchCase="'warning'" class="label label-warning">{{ kpi.title }}</div>
                        <div *ngSwitchCase="'success'" class="label label-success">{{ kpi.title }}</div>
                        <div *ngSwitchDefault class="label label-default">{{ kpi.title }}</div>
                    </div>
                    <div class="panel-body">
                        <ng-container *ngIf="!isLoading && kpi.data">
                            <div class="number pull-left" [ngSwitch]="kpi.data.type">
                                <ng-container *ngSwitchCase="'currency'">{{ kpi.data.value | money }}</ng-container>
                                <ng-container *ngSwitchCase="'percent'">{{ kpi.data.value | percent }}</ng-container>
                                <ng-container *ngSwitchDefault>{{ kpi.data.value }}</ng-container>
                            </div>
                            <div>{{ kpi.data.postfix }}</div>
                            <kpi-simple-data *ngIf="kpi.subdata" cssClass="caption text-muted" [data]="kpi.subdata"></kpi-simple-data>
                            <kpi-simple-data *ngIf="kpi.subdata2" cssClass="caption text-muted" [data]="kpi.subdata2"></kpi-simple-data>
                        </ng-container>
                        <progress-indicator *ngIf="isLoading"></progress-indicator>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>