<div class="{{cssClass}}" [ngSwitch]="data.type">
    <ng-container *ngIf="data.prefix">{{ data.prefix }}</ng-container>
    <ng-container *ngSwitchCase="'currency'">{{ data.value | currency:'USD':true:'1.0-2' }}</ng-container>
    <ng-container *ngSwitchCase="'percent'">{{ data.value | percent }}</ng-container>
    <ng-container *ngSwitchDefault>{{ data.value }}</ng-container>
    <ng-container *ngIf="data.postfix">{{ data.postfix }}</ng-container>
</div>