<a role="button" (click)="setSorting(sortingKey)"><ng-content></ng-content></a>
<i *ngIf="sorting?.sortBy === sortingKey" class="fa" [class.fa-caret-up]="!sorting.descending" [class.fa-caret-down]="sorting.descending"></i>