dashboard-page {
    .row {
        margin-top: 20px;
        h1 {
            margin-top: 40px;
            margin-bottom: 20px !important;
            margin-left: -10px !important;
            color: #833e95;
            font-size: 22px;
        }
    }
    .dropdown-menu {
        box-shadow: none;
        top: 25px;
    }
    .dashboard-panel {
        border: none;

        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 10px;

        font-size: 11px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.27pt;

        .panel-heading {
            color: $gray-light;
            padding-top: 20px;
            padding-bottom: 2px;
        }

        .number {
            font-size: 40px;
            line-height: 30px;
            margin-right: 10px;
            font-weight: 700;
        }

        .caption {
            font-size: 8.6pt;
            line-height: 15pt;
            font-weight: 600;
        }

        .progress-indicator {
            position: absolute;
            top: 0;
            bottom: 10px;
            background: rgba(255, 255, 255, 1);
            border-radius: 4px;
            line-height: 80px;
            font-size: 20px;
            width: auto;
            right: 4px;
            left: 4px;
        }

        .label {
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 0.9pt;
            &.label-default {
                background-color: #f9f8f8;
                color: $gray-light;
            }
        }

        min-height: 120px;

        &.large-panel {
            min-height: 190px;

            .progress-indicator {
                line-height: 140px;
            }
        }

        &.triple-line-panel {
            .panel-body {
                margin-top: -10px;
                .number {
                    margin-top: 10px;
                }
                .caption {
                    margin-top: 2px;
                    line-height: 12pt;
                }
            }
        }

        kpi-chart {
            margin-top: 15px;
            margin-bottom: -15px;
        }
        dropdown {
            position: relative;
            top: -11px;
            left: -11px;
            .dropdown {
                border: 0;
                width: auto;
                height: 0;
                .dropdown-toggle {
                    width: auto;
                    color: black;
                    font-weight: 700;
                    .icon {
                        color: #833e95;
                        position: absolute;
                        top: 9px;
                        right: 19px;
                    }
                }
            }
        }
    }
    .top-payers-table {
        > thead > tr > th {
            border-bottom: none !important;
            font-size: 13px;
            color: #787275;
            background: $body-bg;

            overflow: hidden;
            text-align: right;
            text-overflow: ellipsis;
            max-width: 200px;

            &:first-child {
                padding-left: 20px;
            }
            &:last-child {
                padding-right: 20px;
            }
            a,
            a:active,
            a:focus,
            a:visited {
                color: $gray-light;
            }
            a:hover {
                color: #833e95;
            }
            i.fa {
                font-size: 14px;
            }
        }
        > tbody > tr:focus {
            outline: none;
        }
        > tbody > tr > td {
            padding: 20px;
            text-align: right;
            font-size: 16px;
            color: #403A3D;

            cursor: pointer;

            .row-icon {
                display: block;
                margin: auto;
            }
        }
    }
}