overall-score-cell {
    .wrapper {
        position: relative;
        user-select: none;
        white-space: nowrap;
        min-width: 130px;

        .overall-score {
            position: absolute;
            transform: translateY(-50%);
            padding-left: 30px !important;
            cursor: pointer;
        }

        .overall-score-active {
            display: inline-block;
            border-radius: 30px;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 15px;
            padding-left: 10px;
            font-weight: 500;
            color: #fff;
            margin-left: 10px;
            white-space: nowrap;
            cursor: pointer;

            .arrow-icon {
                margin-top: -2px;
                margin-left: 2px;
            }
            &.collapsed {
                display: block;
                margin-right: 25px;
                padding-left: 35px;
            }
            &.expanded {
                width: 75%;
                .arrow-icon {
                    margin-left: 0;
                    margin-right: 8px;
                }
            }
            .additional-score {
                display: inline-block;
                font-size: 10px;
                letter-spacing: 1px;
                padding-left: 10px;
                padding-right: 10px;
                position: relative;
                top: -1px;
                &:not(:first-child) {
                    margin-left: 25px;
                    border-left: rgba(0,0,0,0.2) solid 2px;
                    padding-left: 25px;
                    padding-right: 0;
                }
                .digits {
                    font-size: 13px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}