patient-details-page {
    .back-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 800;
        letter-spacing: 0.3px;
        &:hover {
            text-decoration: none;
        }
        img {
            margin-top: -2px;
            margin-right: 2px;
        }
    }
    .avatar-lg {
        margin-top: -2px;
        margin-right: 10px;
    }
    .patient-detail-group {
        position: relative;
        h1 {
            margin-bottom: 3px;
        }
        .label {
            position: relative;
            top: -7px;
            font-size: 10px;
        }
        .patient-detail-item {
            display: inline-block;
            padding-right: 12px;
            border-right: 1px solid #efe5ea;
            margin-right: 12px;
            font-weight: 600;
            color: $gray-light;
            &:last-child {
                border-right: none;
            }
        }
        .actions-button {
            position: relative;
            top: 5px;
        }
    }
    .left-column {
        padding-left: 13px;
        padding-right: 0;
        .column-heading {
            text-transform: uppercase;
            color: lighten($gray-light, 20%);
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            letter-spacing: 0.3px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
    .contact-item {
        position: relative;
        .icon {
            display: inline-block;
            width: 25px;
            margin-right: 5px;
            text-align: center;
        }
        padding: 20px;
        font-size: 15px;
        .preferred-marker {
            position: absolute;
            top: 40%;
            left: -9px;
            width: 17px;
            height: 17px;
            padding-top: 3px;
            padding-left: 4px;
            font-size: 10px;
            background: #2bc8bf;
            color: #fff;
            border-radius: 100%;
        }
    }
    .balance-group {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 15px;
        .heading {
            color: $gray-light;
            font-weight: 700;
        }
        .balance {
            font-weight: 700;
            font-size: 19px;
        }
        .details {
            display: inline-block;
            margin-left: 2px;
            font-weight: 600;
            font-size: 13px;
        }
    }
    .check-icon-group {
        padding-top: 17px;
        padding-left: 17px;
        .icon {
            display: inline-block;
            position: relative;
            top: -2px;
            width: 25px;
            text-align: center;
        }
        .item {
            color: #9c999b;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 15px;
        }
    }
    .insurance-group {
        padding: 20px;
        .heading {
            color: $gray-light;
            font-weight: 700;
        }
        .number {
            font-size: 15px;
            font-weight: 700;
            margin-top: 3px;
        }
        .text-muted {
            font-size: 13px;
            color: #9c999b;
        }
    }
    .notification-group {
        padding: 10px;
    }
    .center-column {
        margin-top: 20px;
        padding-left: 60px;
    }
    .left-column, 
    .tab-content {
        .progress-indicator {
            margin-top: 100px;
            height: 250px;
        }
    }
    .load-more-section {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 90px;
    }
}