patients-page {
    sticky {
        .table {
            background: $body-bg;
            margin-bottom: -25px;
        }
    }
    .search-input {
        width: 240px !important;
        padding-left: 20px;
        padding-right: 40px;
    }
    .search-button {
        margin-left: 15px;
    }
    .patients-table {
        > thead > tr > th {
            border-bottom: none !important;
            font-size: 13px;
            color: $gray-light;
            background: $body-bg;

            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;

            &:first-child {
                padding-left: 20px;
            }
            &:last-child {
                padding-right: 20px;
            }
            a,
            a:active,
            a:focus,
            a:visited {
                color: $gray-light;
            }
            a:hover {
                color: $brand-primary;
            }
            i.fa {
                font-size: 14px;
            }
        }
        > tbody > tr.invisible-row > td {
            height: 0;
            margin: 0;
            padding: 0;
        }
        td {
            height: 60px;
            .avatar {
                margin-right: 5px;
            }
            .name, .treatment {
                margin-top: 7px;
            }
            .more-link {
                font-weight: 400;
                text-decoration: underline;
            }
        }
    }
    .date-range {
        margin-top: 10px;
    }
    
    .overall-score-heading {
        .expand-button {
            position: relative;
            top: -1px;
            right: 2px;

            width: 15px;
            height: 15px;
            display: inline-block;
            margin-right: 4px;
        }
    }

    .load-more-section {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 90px;
    }
}