$gray-heading-text: #a4a1a2;
$gray-border: #ededed;

patient-treatment {
    .tab-content {
        padding: 20px;
    
        .plan-picker {
            float: right;
            margin-top: 6px;
            label {
                color: $gray-heading-text;
                margin-right: 3px;
            }
            dropdown {
                width: 200px;
                display: inline-block;
            }
        }
        .heading {
            font-weight: 700;
            margin-top: 12px;
            margin-left: 12px;
            margin-bottom: 20px;

            font-size: 15px;
            letter-spacing: 1px;
            color: $gray-heading-text;
        }
        .phase-table {
            border: 1px solid $gray-border;
            th, td {
                border: 1px solid $gray-border;
                padding: 17px;
            }
            th {
                color: lighten($gray, 23%);
            }
            td { 
                color: $gray;
                font-size: 15px;
                strong {
                    color: lighten($gray, 23%);
                }
            }
            .total, .subtotal {
                color: lighten($gray, 35%);
                text-align: right;
                letter-spacing: 1px;
                font-weight: 700;
                font-size: 11px;
                border-bottom: 1px solid white;
                border-left: 1px solid white;
            }
        }
    }
    .no-data {
        text-align: center;
        margin-top: 120px;
        margin-bottom: 80px;
    }
}