$gray-border: #efe4e9;

.task-group {
    padding: 20px;
    .task-day-item {
        padding: 20px 10px;
        .bullet {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: $gray-border;
            position: relative;
            top: 2px;
            margin-right: 10px;
            &:after {
                content: ' ';
                display: block;
                position: absolute;
                background-color: #efe4e9;
                width: 2px;
                height: 25px;
                left: 7px;
                top: 15px;
            }
        }
        .name, .date {
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 0.3px;
        }
        .name {
            font-weight: 700;
            color: lighten($gray-light, 25%);
        }
        .date {
            margin-left: 5px;
            color: lighten($gray-light, 25%);
            font-weight: 900;
            a {
                font-weight: 900;
                text-decoration: none;
                i {
                    position: relative;
                    top: -2px;
                    font-size: 13px;
                }
            }
        }
    }
    .task-item {
        padding-left: 10px;
        &:last-child {
            .circle {
                &:after {
                    content: none;
                }
            }
            .content {
                border-bottom: 1px solid $gray-border;
            }
        }
        .circle {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 2px solid $gray-border;
            position: relative;
            top: 6px;
            left: -12px;
            text-align: center;
            padding-top: 7px;
            &:before, &:after {
                content: ' ';
                display: block;
                position: absolute;
                background-color: $gray-border;
                width: 2px;
                height: 15px;
                left: 17px;
            }
            &:before {
                bottom: 36px;
            }
            &:after {
                top: 36px;
            }
        }
        .content {
            font-size: 16px;
            display: inline-block;
            border-top: 1px solid $gray-border;
            width: 92%;
            min-height: 58px;
            padding-left: 5px;
            margin-left: -5px;
            padding-top: 12px;
            padding-bottom: 8px;
            .message {
                position: relative;
                top: 7px;
                color: $gray;
            }
            .time {
                position: relative;
                top: 7px;
                margin-right: 30px;
                color: lighten($gray-light, 25%);
                font-size: 13px;
                font-style: italic;
            }
            .right {
                white-space: nowrap;
                float: right;
                margin-top: 3px;
                .warning {
                    display: inline-block;
                    text-align: center;
                    color: $brand-info;
                    font-weight: 700;
                    font-size: 11px;
                    margin-right: 150px;
                }
                .stats {
                    .stat-item {
                        color: $gray-light-alt;
                        margin: 5px;
                        img {
                            width: 20px;
                            margin-top: -2px;
                        }
                    }
                }
                .actions {
                    img {
                        padding: 5px;
                        cursor: pointer;
                    }
                }
                .assignee {
                    padding-left: 35px;
                    font-size: 14px;
                    color: $gray-light;
                    .avatar {
                        margin-right: 2px;
                    }
                }
                .expand-action {
                    display: inline-block;
                    width: 27px;
                    height: 27px;
                    border-radius: 100%;
                    border: 2px solid $gray-border;
                    position: relative;
                    text-align: center;
                    margin-left: 30px;
                    i {
                        font-size: 13px;
                        color: lighten($gray-light, 25%);
                    }
                }
            }
        }
    }
}