score {
    .wrapper {
        position: relative;
        margin-left: -10px;
        user-select: none;
        white-space: nowrap;
        min-width: 130px;

        .score-bubble {
            white-space: nowrap;
            display: inline-block;
            border-radius: 30px;
            margin-left: 10px;
            font-weight: 500;
            color: #fff;

            width: 18%;

            &:first-child {
                width: 75%;
            }
            
            .score {
                display: inline-block;
                letter-spacing: 1px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
                width: 25%;

                &:first-child {
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                }

                &:last-child {
                    border-top-right-radius: 30px;
                    border-bottom-right-radius: 30px;
                }

                &.center {
                    width: 100%;
                }
            }
        }
    }
}