<div class="dropdown btn-group form-control" dropdown>
    <a dropdownToggle role="button" class="dropdown-toggle ellipsis">
        {{ selected?.text }} <span class="icon fa fa-chevron-down"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li *ngFor="let option of options" role="menuitem">
            <a class="dropdown-item" role="button" (click)="selected = option; selectedChange.emit(option)">{{ option.text }}</a>
        </li>
    </ul>
</div>