<div class="sidebar-heading">
    <button class="btn btn-primary btn-outline" (click)="clear()">Clear</button>
    <button class="btn btn-primary btn-outline btn-icon pull-right" (click)="close.emit()"><i class="fa fa-sliders"></i>Close Filter</button>
</div>
<div class="sidebar-section">
    <label>Patient type</label>
    <option-group [options]="patientTypeOptions" [selected]="patientTypeSelected" (selectedChange)="setPatientType($event)"></option-group>
</div>
<div class="sidebar-section">
    <label>Last visit</label>
    <option-group [options]="lastVisitOptions" [selected]="lastVisitSelected" (selectedChange)="setLastVisit($event)"></option-group>
    <div class="row date-range">
        <div class="col-sm-6">
            <label>From</label>
            <date-picker 
                #from
                [format]="dateFormat" 
                [value]="unsavedFilter.lastVisit?.from"
                [max]="to.timestamp"
                (valueChange)="setLastVisitFrom($event)"
            ></date-picker>
        </div>
        <div class="col-sm-6">
            <label>To</label>
            <date-picker 
                #to
                [format]="dateFormat"
                alignToRight="true"
                [value]="unsavedFilter.lastVisit?.to"
                [min]="from.timestamp"
                (valueChange)="setLastVisitTo($event)"
            ></date-picker>
        </div>
    </div>
</div>
<div class="sidebar-section">
    <label>Treatment type</label>
    <dropdown [options]="treatmentTypeOptions" [selected]="treatmentTypeSelected" (selectedChange)="setTreatmentType($event)"></dropdown>
</div>
<div class="sidebar-section">
    <label>Playbook</label>
    <dropdown *ngIf="playbookOptions" [options]="playbookOptions" [selected]="playbookSelected" (selectedChange)="setPlaybook($event)"></dropdown>
</div>
<div class="sidebar-section">
    <div class="pull-right" [ngSwitch]="!unsavedFilter.treatmentCost">
        <span *ngSwitchCase="true" class="badge badge-dark">All</span>
        <span *ngSwitchDefault><a role="button" (click)="resetTreatmentCost()">All</a></span>
    </div>
    <label>Treatment Cost</label>
    <div>
        <span>{{unsavedFilter.treatmentCost?.from | currency:'USD':true:'1.0-2'}}</span>
        <span class="pull-right">{{unsavedFilter.treatmentCost?.to | currency:'USD':true:'1.0-2'}}</span>
    </div>
    <nouislider 
        class="slider"
        [connect]="true" [min]="treatmentCostMin" [max]="treatmentCostMax" [step]="1" 
        [ngModel]="[unsavedFilter.treatmentCost?.from || treatmentCostMin, unsavedFilter.treatmentCost?.to || treatmentCostMax]" 
        (ngModelChange)="setTreatmentCost($event)"
    ></nouislider>
</div>
