<div class="tab-content clearfix" *ngIf="!plan">
    <div class="no-data">
        No treatment plan
    </div>
</div>
<div class="tab-content clearfix" *ngIf="plan">
    <div class="plan-picker">
        <label>Treatment plan</label>
        <dropdown [options]="plans" (selectedChange)="setPlan($event)"></dropdown>
    </div>
    <div *ngIf="plan.phases && !plan.phases.length" class="no-data">
        No treatment data
    </div>
    <div *ngFor="let phase of plan.phases; let index = index; let last = last">
        <div class="heading">VISIT {{index + 1}}</div>
        <table class="phase-table">
            <tr>
                <th style="width: auto;">Code</th>
                <th style="width: 40%;">Description</th>
                <th style="width: auto;">Tooth</th>
                <th style="width: auto;">Surface</th>
                <th>Fee</th>
                <th>Insurance</th>
                <th>To Pay</th>
            </tr>
            <tr *ngFor="let item of phase.items">
                <td class="text-center">{{ item.serviceCode }}</td>
                <td>{{ item.description }}</td>
                <td class="text-center">{{ item.tooth }}</td>
                <td></td>
                <td>{{ item.fee | currency:'USD':true:'1.2' }}</td>
                <td>{{ 0 | currency:'USD':true:'1.2' }}</td>
                <td>{{ item.fee | currency:'USD':true:'1.2' }}</td>
            </tr>
            <tr>
                <td colspan="4" class="subtotal">Subtotal:</td>
                <td><strong>{{ phase.subtotal | currency:'USD':true:'1.2' }}</strong></td>
                <td><strong>{{ 0 | currency:'USD':true:'1.2' }}</strong></td>
                <td><strong>{{ phase.subtotal | currency:'USD':true:'1.2' }}</strong></td>
            </tr>
            <tr *ngIf="last">
                <td colspan="4" class="total">Total:</td>
                <td><strong>{{ plan.totalCost | currency:'USD':true:'1.2' }}</strong></td>
                <td><strong>{{ 0 | currency:'USD':true:'1.2' }}</strong></td>
                <td><strong>{{ plan.totalCost | currency:'USD':true:'1.2' }}</strong></td>
            </tr>
        </table>
    </div>
</div>