<div *ngIf="isLoading" class="tab-content">
    <progress-indicator [size]="md"></progress-indicator>
    <div class="clearfix"></div>
</div>
<div *ngIf="!isLoading" class="tab-content">
    <div *ngFor="let activity of activities" class="task-group">
        <div class="task-day-item">
            <span class="bullet"></span>
            <span *ngIf="activity.date" class="date">{{ activity.date | amCalendar:relativeDateFormat }} <i class="fa fa-chevron-down"></i></span>
        </div>
        <div class="task-item">
            <span class="circle" [ngSwitch]="activity.type.id" [title]="activity.type.name">
                <img *ngSwitchCase="'email'" src="/assets/svg/gray-light-envelope.svg">
                <img *ngSwitchCase="'call'" src="/assets/svg/gray-call.svg">
                <img *ngSwitchCase="'voice_mail'"  src="/assets/svg/gray-voice-mail.svg">
            </span>
            <span class="content">
                <span class="time">{{ activity.date | amDateFormat:dateFormat }}</span>
                <span class="message">{{ activity.message }}</span>
                <span class="right">
                    <span class="stats">
                        <span *ngFor="let item of activity.activities" [ngSwitch]="item.type" class="stat-item">
                            <span *ngSwitchCase="'view'"><img src="/assets/svg/eye.svg"> {{ item.count }}</span>
                            <span *ngSwitchCase="'click'"><i class="fa fa-mouse-pointer"></i> {{ item.count }}</span>
                            <span *ngSwitchCase="'watch-video'"><img src="/assets/svg/eye.svg"> {{ item.duration | amDuration:'seconds' }}</span>
                        </span>
                    </span>
                    <span class="expand-action">
                        <i class="fa fa-chevron-down"></i>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <div class="load-more-section">
        <button *ngIf="hasMore" class="btn btn-primary btn-outline" [disabled]="isLoadingMore" (click)="loadMore()">
            <span *ngIf="isLoadingMore"><i class="fa fa-refresh fa-spin"></i></span>
            <span *ngIf="!isLoadingMore">Load more</span>
        </button>
    </div>
</div>