<a routerLink="/patients" class="back-link"><img src="/assets/svg/arrow-left.svg"> Back to all patients</a>
<progress-indicator *ngIf="isLoading"></progress-indicator>
<div *ngIf="!isLoading">
    <div class="page-heading patient-detail-group">
        <div class="pull-right">
            <button class="btn btn-primary btn-outline btn-lg actions-button">Actions <i class="fa fa-chevron-down"></i></button>
        </div>
        <div class="pull-left">
            <img src="http://placehold.it/50x50" class="avatar-lg round">
        </div>
        <h1>
            {{patientDetails.firstName}} {{patientDetails.lastName}}
            <span *ngIf="patientDetails.vip" class="label label-info">VIP</span>
        </h1>
        <span class="patient-detail-item">Age: {{patientDetails.age}}</span>
        <span class="patient-detail-item" [ngSwitch]="patientDetails.sex">
            Sex: 
            <span *ngSwitchCase="'F'">Female</span>
            <span *ngSwitchCase="'M'">Male</span>
        </span>
        <span class="patient-detail-item" [ngSwitch]="!!patientDetails.hoh">
            HoH:
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
        </span>
        <span class="patient-detail-item">ID: {{patientDetails.id}}</span>
        <span class="patient-detail-item">Last Touch: {{patientDetails.lastVisit |amTimeAgo }}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 left-column">
        <div class="column-heading">
            Contact
        </div>
        <progress-indicator *ngIf="isLoading" [size]="md"></progress-indicator>
        <div *ngIf="!isLoading" class="panel">
            <ul class="list-group">
                <li *ngFor="let contact of contactsByType['work_phone']" class="list-group-item contact-item">
                    <div class="ellipsis-block">
                        <span class="icon"><img src="/assets/svg/work-phone.svg"></span>
                        <strong>{{ contact.phone |replace:phoneNumberPattern:phoneNumberFormat }}</strong>
                    </div>
                    <i class="preferred-marker fa fa-star"></i>
                </li>
                <li *ngFor="let contact of contactsByType['cell_phone']" class="list-group-item contact-item">
                    <div class="ellipsis-block">
                        <span class="icon"><img src="/assets/svg/mobile-phone.svg"></span>
                        <strong>{{ contact.phone |replace:phoneNumberPattern:phoneNumberFormat }}</strong>
                    </div>
                </li>
                <li *ngFor="let contact of contactsByType['email']" class="list-group-item contact-item">
                    <div class="ellipsis-block">
                        <span class="icon"><img src="/assets/svg/gray-envelope.svg"></span>
                        <strong>{{ contact.email }}</strong>
                    </div>
                </li>
            </ul>
        </div>
        <div class="column-heading">
            Financial
        </div>
        <progress-indicator *ngIf="isLoading" [size]="md"></progress-indicator>
        <div *ngIf="!isLoading" class="panel">
            <ul class="list-group">
                <li class="list-group-item balance-group">
                    <div class="heading" [ngSwitch]="patientDetails.financeInfo.overdue">
                        <span *ngSwitchCase="true">Overdue Balance</span>
                        <span *ngSwitchDefault>Balance</span>
                    </div>
                    <div>
                        <span class="balance" [ngSwitch]="patientDetails.financeInfo.overdue">
                            <span *ngSwitchCase="true">{{ -patientDetails.financeInfo.balance | currency:'USD':true:'1.0-2' }}</span>
                            <span *ngSwitchDefault>{{ patientDetails.financeInfo.balance | currency:'USD':true:'1.0-2' }}</span>
                        </span>
                        <span class="details text-info">{{ patientDetails.financeInfo.overdueDays }} days due</span>
                    </div>
                </li>
                <li class="list-group-item check-icon-group">
                    <div class="item">
                        <span class="icon" [ngSwitch]="patientDetails.financeInfo.isCreditCardAttached">
                            <img *ngSwitchCase="true" src="/assets/svg/gray-circle-check.svg">
                            <img *ngSwitchDefault src="/assets/svg/gray-circle.svg">
                        </span>
                        <span>Credit Card information on file</span>
                    </div>
                    <div class="item">
                        <span class="icon" [ngSwitch]="patientDetails.financeInfo.isFinancialPolicySigned">
                            <img *ngSwitchCase="true" src="/assets/svg/gray-circle-check.svg">
                            <img *ngSwitchDefault src="/assets/svg/gray-circle.svg">
                        </span>
                        <span>Signed of on financial policy</span>
                    </div>
                    <div class="item">
                        <span class="icon" [ngSwitch]="patientDetails.financeInfo.isMedicalConsentSigned">
                            <img *ngSwitchCase="true" src="/assets/svg/gray-circle-check.svg">
                            <img *ngSwitchDefault src="/assets/svg/gray-circle.svg">
                        </span>
                        <span>Sign off on medical consent</span>
                    </div>
                </li>
                <li class="list-group-item insurance-group">
                    <div class="heading">Insurance #</div>
                    <div class="number">{{ patientDetails.insuranceInfo.groupNumber }}</div>
                    <span class="text-muted">{{ patientDetails.insuranceInfo.insuranceCompanyName }} <!-- till {{ patientDetails.insuranceInfo.dueDate | amDateFormat:'DD.MM.YYYY' }} --></span>
                </li>
            </ul>
        </div>
        <div class="column-heading">
            Notes
        </div>
        <progress-indicator *ngIf="isLoading" [size]="md"></progress-indicator>
        <div *ngIf="!isLoading" class="panel">
            <ul class="list-group notification-group">
                <li class="list-group-item">
                    {{ patientDetails.notes || 'No notes' }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 center-column">
        <tabs>
            <tab #tab1 title="Proposed Treatment" iconUrl="/assets/svg/tag.svg" activeIconUrl="/assets/svg/gray-tag.svg">
                <patient-treatment *ngIf="tab1.active" [treatmentPlans]="patientDetails?.treatmentPlans"></patient-treatment>
            </tab>
            <tab #tab2 title="Current Tasks" iconUrl="/assets/svg/pencil.svg" activeIconUrl="/assets/svg/gray-pencil.svg">
                <patient-tasks *ngIf="tab2.active" [patientId]="patientDetails?.id"></patient-tasks>
            </tab>
            <tab #tab3 title="History" iconUrl="/assets/svg/clock.svg" activeIconUrl="/assets/svg/gray-clock.svg">
                <patient-history *ngIf="tab3.active" [patientId]="patientDetails?.id"></patient-history>
            </tab>
            <tab #tab4 title="Activities" iconUrl="/assets/svg/line-chart.svg" activeIconUrl="/assets/svg/gray-line-chart.svg">
                <patient-activities *ngIf="tab4.active" [patientId]="patientDetails?.id"></patient-activities>
            </tab>
        </tabs>
    </div>
</div>