<div *ngIf="isLoading" class="tab-content">
    <progress-indicator [size]="md"></progress-indicator>
    <div class="clearfix"></div>
</div>
<div *ngIf="!isLoading" class="tab-content">
    <div *ngFor="let task of tasks" class="task-group">
        <div class="task-day-item">
            <span class="bullet"></span>
            <span class="name">{{ task.name }}</span>
            <span *ngIf="task.date" class="date">
                <a role="button">{{ task.date | amCalendar:relativeDateFormat }} <i class="fa fa-chevron-down"></i></a>
            </span>
        </div>
        <div class="task-item" *ngFor="let item of task.items">
            <span *ngIf="item.isReviewRequired" class="circle" [ngSwitch]="item.type.id" [title]="item.type.name">
                <img *ngSwitchCase="'email'" src="/assets/svg/envelope.svg">
            </span>
            <span *ngIf="!item.isReviewRequired" class="circle" [ngSwitch]="item.type.id" [title]="item.type.name">
                <img *ngSwitchCase="'email'" src="/assets/svg/gray-light-envelope.svg">
                <img *ngSwitchCase="'call'" src="/assets/svg/gray-call.svg">
                <img *ngSwitchCase="'voice_mail'"  src="/assets/svg/gray-voice-mail.svg">
            </span>
            <span class="content">
                <span class="message">{{ item.message }}</span>
                <span class="right">
                    <span class="warning">
                        <span *ngIf="item.isReviewRequired"><img src="/assets/svg/warning-tri.svg"> Review is required!</span>
                    </span>
                    <span class="actions">
                        <img src="/assets/svg/trash-circle.svg">
                        <img src="/assets/svg/pencil-circle.svg">
                    </span>
                    <span class="assignee">
                        <span *ngIf="!item.assignee"><img src="http://placehold.it/30x30" class="avatar round"> Auto</span>
                        <span *ngIf="item.assignee">
                            <img [src]="item.assignee.image" class="avatar round">
                            <a role="button">{{item.assignee.firstName}} {{item.assignee.lastName}}</a>
                        </span>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <div class="load-more-section">
        <button *ngIf="hasMore" class="btn btn-primary btn-outline" [disabled]="isLoadingMore" (click)="loadMore()">
            <span *ngIf="isLoadingMore"><i class="fa fa-refresh fa-spin"></i></span>
            <span *ngIf="!isLoadingMore">Load more</span>
        </button>
    </div>
</div>