<div *ngIf="isLoading" class="tab-content">
    <progress-indicator [size]="md"></progress-indicator>
    <div class="clearfix"></div>
</div>
<div *ngIf="!isLoading" class="tab-content">
    <div *ngFor="let task of tasks" class="task-group">
        <div class="task-day-item">
            <span class="bullet"></span>
            <span class="name">{{ task.name }}</span>
            <span *ngIf="task.date" class="date">{{ task.date | amCalendar:relativeDateFormat }}</span>
        </div>
        <div class="task-item" *ngFor="let item of task.items">
            <span class="circle" [ngSwitch]="item.status">
                <img *ngSwitchCase="'complete'" src="/assets/svg/gray-check.svg">
                <span *ngSwitchDefault [ngSwitch]="item.type.id">
                    <img *ngSwitchCase="'email'" src="/assets/svg/gray-light-envelope.svg">
                    <img *ngSwitchCase="'call'" src="/assets/svg/gray-call.svg">
                    <img *ngSwitchCase="'voice_mail'"  src="/assets/svg/gray-voice-mail.svg">
                </span>
            </span>
            <span class="content">
                <span class="time">{{ item.lastStatusChange | amDateFormat:dateFormat }}</span>
                <span class="message">{{ item.message }}</span>
                <span class="right">
                    <span class="stats">
                        <span *ngFor="let activity of item.activities" [ngSwitch]="activity.type" class="stat-item">
                            <span *ngSwitchCase="'view'"><img src="/assets/svg/eye.svg"> {{ activity.count }}</span>
                            <span *ngSwitchCase="'click'"><i class="fa fa-mouse-pointer"></i> {{ activity.count }}</span>
                            <span *ngSwitchCase="'watch-video'"><img src="/assets/svg/eye.svg"> {{ activity.duration | amDuration:'seconds' }}</span>
                        </span>
                    </span>
                    <span class="assignee">
                        <span *ngIf="!item.assignee"><img src="http://placehold.it/30x30" class="avatar round"> Auto</span>
                        <span *ngIf="item.assignee">
                            <img [src]="item.assignee.image" class="avatar round">
                            <a role="button">{{item.assignee.firstName}} {{item.assignee.lastName}}</a>
                        </span>
                    </span>
                    <span class="expand-action">
                        <i class="fa fa-chevron-down"></i>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <div class="load-more-section">
        <button *ngIf="hasMore" class="btn btn-primary btn-outline" [disabled]="isLoadingMore" (click)="loadMore()">
            <span *ngIf="isLoadingMore"><i class="fa fa-refresh fa-spin"></i></span>
            <span *ngIf="!isLoadingMore">Load more</span>
        </button>
    </div>
</div>