<ul class="nav navbar-nav navbar-hover navbar-right">
    <li class="dropdown" dropdown>
        <a role="button" class="dropdown-toggle" role="button" dropdownToggle>
            <img *ngIf="profile?.image" [src]="profile.image" class="avatar round hidden-sm hidden-md">
            {{profile?.firstName}} {{profile?.lastName}} <i class="fa fa-chevron-down"></i>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
            <li><a role="button" (click)="logout()">Logout</a></li>
            <!-- <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a role="button">Another action</a></li> -->
        </ul>
    </li>
</ul>