<div class="wrapper" 
    (mouseover)="setActive($event)"
    (click)="toggleExpanded()"
    [@collapse]="isExpanded ? 'expanded' : 'collapsed'"
    (@collapse.done)="onExpandAnimationDone()">
    <div *ngIf="!isActive" class="overall-score">
        <i class="fa fa-circle score-text" 
            [class.gt80]="score.overall > 80"
            [class.gt70]="score.overall > 70 && score.overall <= 80"
            [class.gt50]="score.overall > 50 && score.overall <= 70"
            [class.gt30]="score.overall > 30 && score.overall <= 50"
            [class.lt30]="score.overall <= 30"
        ></i>
        {{ score.overall }}
    </div>
    <div *ngIf="isActive" class="overall-score-active score-bg"
        [class.collapsed]="!isExpanded"
        [class.expanded]="isExpanded"
        [class.gt80]="score.overall > 80"
        [class.gt70]="score.overall > 70 && score.overall <= 80"
        [class.gt50]="score.overall > 50 && score.overall <= 70"
        [class.gt30]="score.overall > 30 && score.overall <= 50"
        [class.lt30]="score.overall <= 30"
        [@ngIfFadeIn]>
        <img *ngIf="isExpanded" class="arrow-icon" src="/assets/svg/arrow-left-white.svg">
        {{ score.overall }}
        <img *ngIf="!isExpanded" class="arrow-icon" src="/assets/svg/arrow-right-white.svg">
        <span *ngIf="isExpanded" class="additional-score">
            Relationship: <span class="digits">{{ score.relationship }}</span>
        </span>
        <span *ngIf="isExpanded" class="additional-score">
            Responsive: <span class="digits">{{ score.responsive }}</span>
        </span>
        <span *ngIf="isExpanded" class="additional-score">
            Financial: <span class="digits">{{ score.financial }}</span>
        </span>
    </div>
    <div *ngIf="isExpanded" class="overall-score-active score-bg"
        [class.gt80]="score.overall > 80"
        [class.gt70]="score.overall > 70 && score.overall <= 80"
        [class.gt50]="score.overall > 50 && score.overall <= 70"
        [class.gt30]="score.overall > 30 && score.overall <= 50"
        [class.lt30]="score.overall <= 30">
        <span *ngIf="isExpanded" class="additional-score">
            Readiness: <span class="digits">{{ score.readiness }}</span>
        </span>
    </div>
</div>