<div class="row full-height">
    <div [class.col-sm-12]="!isFilterOpen" [class.col-sm-9]="isFilterOpen">

        <div class="page-heading">
            <div class="pull-right">
                <span class="icon-group">
                    <input type="text" class="search-input form-control input-sm" placeholder="Search for patients"
                        [(ngModel)]="searchText" (ngModelChange)="applyFilter()">
                    <a role="button" class="icon-sm"><i class="fa fa-search text-primary"></i></a>
                </span>
                <button *ngIf="!isFilterOpen" class="btn btn-primary btn-outline btn-icon search-button" (click)="isFilterOpen = true"><i class="fa fa-sliders"></i> Filter</button>
            </div>
            <h1><i class="fa fa-plus"></i> Patients</h1>
        </div>

        <div class="progress-indicator-container">
             <sticky [sticky-width]="tableWidth+'px'">
                <table class="table patients-table table-list">
                    <thead>
                        <tr>
                            <th style="width: 18%"><heading-cell sortingKey="fullname" [sorting]="sorting" (sortingChange)="getPage($event, filter, currentPage)">Patient</heading-cell></th>
                            <th style="width: 12%" class="overall-score-heading">
                                <a role="button" class="expand-button" (click)="toggleScoreMode()" [ngSwitch]="isScoreMode">
                                    <img *ngSwitchCase="true" src="/assets/svg/minus-circle.svg">
                                    <img *ngSwitchDefault src="/assets/svg/plus-circle.svg">
                                </a>
                                <heading-cell sortingKey="score.overall" [sorting]="sorting" (sortingChange)="getPage($event, filter, currentPage)">Overall-Score</heading-cell>
                            </th>
                            <th *ngIf="!isScoreMode" [@ngIfFadeIn] style="width: 20%"><heading-cell>Treatment</heading-cell></th>
                            <th *ngIf="!isScoreMode" [@ngIfFadeIn] style="width: 12%"><heading-cell sortingKey="treatmentCost" [sorting]="sorting" (sortingChange)="getPage($event, filter, currentPage)">Cost</heading-cell></th>
                            <th *ngIf="!isScoreMode" [@ngIfFadeIn] style="width: 14%"><heading-cell>Playbook</heading-cell></th>
                            <th *ngIf="!isScoreMode" [@ngIfFadeIn] style="width: 14%"><heading-cell sortingKey="lastvisit" [sorting]="sorting" (sortingChange)="getPage($event, filter, currentPage)">Last Visit</heading-cell></th>
                            <th *ngIf="isScoreMode" [@ngIfFadeIn] style="width: 11%" class="text-center"><heading-cell sortingKey="score.relationship" [sorting]="sorting" (sortingChange)="getPage($event, filter, currentPage)">Relationship</heading-cell></th>
                            <th *ngIf="isScoreMode" [@ngIfFadeIn] style="width: 11%" class="text-center"><heading-cell sortingKey="score.responsive" [sorting]="sorting" (sortingChange)="getPage($event, filter, currentPage)">Responsive</heading-cell></th>
                            <th *ngIf="isScoreMode" [@ngIfFadeIn] style="width: 11%" class="text-center"><heading-cell sortingKey="score.financial" [sorting]="sorting" (sortingChange)="getPage($event, filter, currentPage)">Financial</heading-cell></th>
                            <th *ngIf="isScoreMode" [@ngIfFadeIn] style="width: 15%; padding-right: 30px;" class="text-center"><heading-cell sortingKey="score.readiness" [sorting]="sorting" (sortingChange)="getPage($event, filter, currentPage)">Readiness</heading-cell></th>
                            <th *ngIf="isScoreMode" [@ngIfFadeIn] style="width: 12%"><heading-cell sortingKey="lastvisit" [sorting]="sorting" (sortingChange)="getPage($event, filter, currentPage)">Last Visit</heading-cell></th>
                            <th style="width: 10%">&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </sticky> 
                
            <table #table class="table patients-table table-list">
                <tbody>
                    <tr class="invisible-row">
                        <td style="width: 18%"></td>
                        <td style="width: 12%"></td>
                        <td *ngIf="!isScoreMode" style="width: 20%"></td>
                        <td *ngIf="!isScoreMode" style="width: 12%"></td>
                        <td *ngIf="!isScoreMode" style="width: 14%"></td>
                        <td *ngIf="!isScoreMode" style="width: 14%"></td>
                        <td *ngIf="isScoreMode" style="width: 11%"></td>
                        <td *ngIf="isScoreMode" style="width: 11%"></td>
                        <td *ngIf="isScoreMode" style="width: 11%"></td>
                        <td *ngIf="isScoreMode" style="width: 15%; padding-right: 30px;"></td>
                        <td *ngIf="isScoreMode" style="width: 12%"></td>
                        <td style="width: 10%"></td>
                    </tr>
                    <tr *ngFor="let patient of patients; let index = index" 
                        in-viewport 
                        [inViewportOptions]="{ margin: '100px 0px 100px 0px' }"
                        (inViewportAction)="itemInViewport[index] = $event.value">
                        <td>
                            <a [routerLink]="['/patients', patient.id]" class="ellipsis name">
                                <img *ngIf="itemInViewport[index]" src="http://placehold.it/30x30" class="avatar round">
                                {{patient.firstName}} {{patient.lastName}}
                            </a>
                        </td>
                        <ng-template [ngIf]="itemInViewport[index]">
                            <td *ngIf="!isScoreMode" [@ngIfFadeIn] [colSpan]="isScoreExpanded(patient.id) ? 4 : 0">
                                <overall-score-cell
                                    *ngIf="patient.score"
                                    [score]="patient.score"
                                    [isExpanded]="isScoreExpanded(patient.id)"
                                    (isExpandedChange)="setScoreExpanded(patient.id, $event)"
                                ></overall-score-cell>
                            </td>
                            <ng-template [ngIf]="!isScoreMode && !isScoreExpanded(patient.id)">
                                <td [@ngIfFadeIn] [ngSwitch]="!patient.treatmentPlan?.items?.length">
                                    <span *ngSwitchCase="true" class="ellipsis treatment text-gray-light"><small><i>No active treatments</i></small></span>
                                    <treatment-cell *ngSwitchDefault [items]="patient.treatmentPlan?.items" [(isExpanded)]="isTreatmentExpanded[patient.id]"></treatment-cell>
                                </td>
                                <td [@ngIfFadeIn]>
                                    <span *ngIf="patient.treatmentPlan?.totalCost" class="ellipsis">
                                        {{ patient.treatmentPlan?.totalCost | currency:'USD':true:'1.0-2' }}
                                    </span>
                                </td>
                                <td [@ngIfFadeIn] [ngSwitch]="!patient.playbook">
                                    <span *ngSwitchCase="true" class="ellipsis text-gray-light"><small><i>No active playbooks</i></small></span>
                                    <span *ngSwitchDefault class="ellipsis">{{ patient.playbook.name }}</span>
                                </td>
                            </ng-template>
                            <td *ngIf="!isScoreMode" [@ngIfFadeIn]><span class="ellipsis">{{ patient.lastVisit | amTimeAgo }}</span></td>
                            <ng-template [ngIf]="isScoreMode">
                                <td [@ngIfFadeIn] colspan="5">
                                    <score *ngIf="patient.score" [animate]="animateScore" [score]="patient.score"></score>
                                </td>
                                <td [@ngIfFadeIn]><span class="ellipsis">{{ patient.lastVisit | amTimeAgo }}</span></td>
                            </ng-template>
                            <td><button class="btn btn-primary btn-outline" [routerLink]="['/patients', patient.id]">View</button></td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
            <progress-indicator *ngIf="isLoading"></progress-indicator>
        </div>

        <div class="load-more-section">
            <button *ngIf="hasMore" class="btn btn-primary btn-outline" [disabled]="isLoadingMore" (click)="loadMore()">
                <span *ngIf="isLoadingMore"><i class="fa fa-refresh fa-spin"></i></span>
                <span *ngIf="!isLoadingMore">Load more</span>
            </button>
        </div>

    </div>
    <div *ngIf="isFilterOpen" class="col-sm-3 sidebar-right">
        <patient-filter #filterEditor [(filter)]="filter" (filterChange)="applyFilter()" (close)="isFilterOpen = false"></patient-filter>
    </div>
</div>