<div class="wrapper">
    <div class="score-bubble" *ngIf="isExpanded" [@ngIfExpand]>
        <span class="score score-bg"
            [class.gt80]="score.overall > 80"
            [class.gt70]="score.overall > 70 && score.overall <= 80"
            [class.gt50]="score.overall > 50 && score.overall <= 70"
            [class.gt30]="score.overall > 30 && score.overall <= 50"
            [class.lt30]="score.overall <= 30">
            <span class="digits">{{ score.overall }}</span>
        </span><span class="score score-bg"
            [class.gt80]="score.relationship > 80"
            [class.gt70]="score.relationship > 70 && score.relationship <= 80"
            [class.gt50]="score.relationship > 50 && score.relationship <= 70"
            [class.gt30]="score.relationship > 30 && score.relationship <= 50"
            [class.lt30]="score.relationship <= 30">
            <span class="digits">{{ score.relationship }}</span>
        </span><span class="score score-bg"
            [class.gt80]="score.responsive > 80"
            [class.gt70]="score.responsive > 70 && score.responsive <= 80"
            [class.gt50]="score.responsive > 50 && score.responsive <= 70"
            [class.gt30]="score.responsive > 30 && score.responsive <= 50"
            [class.lt30]="score.responsive <= 30">
            <span class="digits">{{ score.responsive }}</span>
        </span><span class="score score-bg"
            [class.gt80]="score.financial > 80"
            [class.gt70]="score.financial > 70 && score.financial <= 80"
            [class.gt50]="score.financial > 50 && score.financial <= 70"
            [class.gt30]="score.financial > 30 && score.financial <= 50"
            [class.lt30]="score.financial <= 30">
            <span class="digits">{{ score.financial }}</span>
        </span>
    </div>
    <div class="score-bubble score-bg"
        [class.gt80]="score.readiness > 80"
        [class.gt70]="score.readiness > 70 && score.readiness <= 80"
        [class.gt50]="score.readiness > 50 && score.readiness <= 70"
        [class.gt30]="score.readiness > 30 && score.readiness <= 50"
        [class.lt30]="score.readiness <= 30">
        <span class="score center">
            <span class="digits">{{ score.readiness }}</span>
        </span>
    </div>
</div>