<span *ngIf="items?.length" [ngSwitch]="isExpanded">
    <span class="ellipsis treatment" *ngSwitchDefault>
        {{ items[0] }}
        <small *ngIf="items.length > 1">
            <a role="button" class="more-link" (click)="isExpandedChange.emit(true)">
                {{ items.length - 1 }} more
            </a>
        </small>
    </span>
    <span class="ellipsis treatment" *ngSwitchCase="true" [@ngIfFadeIn]>
        <div *ngFor="let treatmentItem of items"><small>{{ treatmentItem }}</small></div>
    </span>
</span>