.btn {
    font-size: 13px;
    border-radius: 15px;
    border-width: 0;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;

    &a,
    &a:active,
    &a:focus,
    &a:hover,
    &a:visited {
        color: #fff !important;
    }
}

.btn-icon {
    padding-left: 20px;
    padding-right: 20px;
    i {
        position: relative;
        top: 1px;
        font-size: 18px;
        padding-right: 5px;
    }
}

.btn:focus {
    outline: none;
}

.btn-outline {
    background-color: transparent;
    
    border-width: 2px;
    padding-top: 3px;
    padding-bottom: 4px;

    &.btn-primary {
        color: $brand-primary;
    }
    &.btn-info {
        color: $brand-info;
    }
    &.btn-warning {
        color: $brand-warning;
    }
    &.btn-success {
        color: $brand-success;
    }
    &.btn-danger {
        color: $brand-danger;
    }
    &.btn-primary:focus,
    &.btn-primary:hover,
    &.btn-info:hover,
    &.btn-info:focus,
    &.btn-warning:hover,
    &.btn-warning:focus,
    &.btn-success:focus,
    &.btn-success:hover,
    &.btn-danger:hover,
    &.btn-danger:focus {
        color: #fff;
    }
}

.btn-lg {
    font-size: 13px;
    font-weight: 800;
    padding-top: 5px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 5px;
    border-radius: 22px;
}