$control-border-color: lighten($gray-base, 80%) !default;

.form-control {
    color: $brand-primary;
    font-weight: 600;
    background: transparent;
    box-shadow: none;
    border: 2px solid $control-border-color;
    &::placeholder {
        color: darken($control-border-color, 10%);
        font-weight: 400;
        font-style: italic;
        font-size: 90%;
    }
    &:focus {
        border-color: $brand-primary;
        box-shadow: none;
    }
}

.form-control {
    border-radius: 20px;
}
.input-sm {
    border-radius: 15px;
}