h1,h2,h3 {
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 24px;
    letter-spacing: 4px;
}

h2,h3 {
    border-bottom: 3px solid $gray-dark;
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-size: 14px;
    letter-spacing: 6px;
    .inner {
        display: inline-block;
        margin-right: -7px;
    }
}

h3 {
    font-size: 12px;
}