.label {
    display: inline-block;
    border-radius: 20px;
    font-weight: 400;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    letter-spacing: 1px;
}