a, a:active, a:hover, a:focus, a:visited {
    color: $care-primary;
    font-weight: 600;
}

a, a:active, a:focus, a:visited {
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}