$score-gt80: #18c9c0;
$score-gt70: #54e5dd;
$score-gt50: #efc628;
$score-gt30: #e79e43;
$score-lt30: #e86868;

.score-text {
    &.gt80 { color: $score-gt80; }
    &.gt70 { color: $score-gt70; }
    &.gt50 { color: $score-gt50; }
    &.gt30 { color: $score-gt30; }
    &.lt30 { color: $score-lt30; }
}
.score-bg {
    &.gt80 { background: $score-gt80; }
    &.gt70 { background: $score-gt70; }
    &.gt50 { background: $score-gt50; }
    &.gt30 { background: $score-gt30; }
    &.lt30 { background: $score-lt30; }
}