.tab-set {
    background: $gray-lighter;

    margin: 0;
    padding: 0;
    display: inline-block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid darken($gray-lighter, 3%);
    border-bottom: none;
    li {
        list-style: none;
        margin: 0;
        display: inline-block;
        color: $gray-light;
        border-right: 1px solid darken($gray-lighter, 3%);
        font-size: 15px;
        user-select: none;
        &.active {
            padding: 15px 40px;
            border: 1px solid transparent;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-color: #fff;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
            margin: -1px;
            font-weight: 700;
            color: $gray-light-alt;
            cursor: default;
        }
        &:last-child {
            border-right: none;
        }
        .icon {
            position: relative;
            top: -1px;
            right: 2px;
        }
        a, a:hover, a:active, a:focus, a:visited {
            display: inline-block;
            padding: 15px 40px;
            text-decoration: none;
            font-weight: 700;
        }
    }
}
.tab-content {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-left-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    position: relative;
}