.table-list {
    border-collapse: separate;
    border-spacing: 0 10px; /* allow spacing between rows */

    >tbody>tr>td {
        border-top: none !important;
        background-color: #fff;
        vertical-align: middle;

        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;

        &:first-child {
            padding-left: 20px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            padding-right: 20px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}