.avatar {
    width: 30px;
    height: 30px;
}
.avatar-lg {
    width: 50px;
    height: 50px;
}
.round {
    border-radius: 100%;
}

.ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.ellipsis-block {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table>tbody>tr>td>.ellipsis { margin-top: 5px; }