<nav class="navbar navbar-tall">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Care</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-menu navbar-hover">
                <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
                <li routerLinkActive="active"><a routerLink="/patients">Patients</a></li>
                <li routerLinkActive="active"><a role="button">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-icons">
                <li><a role="button"><img src="/assets/svg/search.svg"></a></li>
                <li><a role="button"><img src="/assets/svg/bell.svg"></a></li>
            </ul>
            <profile-menu></profile-menu>
        </div>
    </div>

</nav>