<div class="icon-group" [class.datepicker-right]="alignToRight">
    <input type="text" class="form-control" #input
        [placeholder]="format" 
        [date-format]="format"
        [value]="value|amDateFormat:format"
        (ngModelChange)="emitChange($event)"
        (blur)="emitChange(input.value)"
        ng2-datetime-picker
        [default-value]="toDate(value)"
        [min-date]="toDate(min)"
        [max-date]="toDate(max)"
        date-only="true">
    <a role="button" class="icon" (click)="input.focus()"><img src="/assets/svg/calendar.svg"></a>
</div>